.footer__coopyright {
    margin: 0px;
    font: 400 18px/22px 'inter' , 'Arial', 'sans-serif';
    color: #545454;
    padding: 67px 0px 60px;
}

@media screen and (max-width: 320px) {
    .footer__coopyright {
      font: 400 14px/17px 'inter' , 'Arial', 'sans-serif';
      padding: 52px 20px 36px;
    }
  }
  
  