.footer__coopyright {
    margin: 0px;
    font: 400 18px/22px 'inter' , 'Arial', 'sans-serif';
    color: #545454;
}

@media screen and (max-width: 320px) {
    .footer__coopyright {
      width: 100%;
      font: 400 14px/17px 'inter' , 'Arial', 'sans-serif';
      padding-left: 20px;
    }
  }
  
  