.element-content__delete {
    background-image: url('../../../images/deleteButton.svg');
    padding: 0px;
    width: 18px;
    height: 19px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 239px;
    bottom: 323px;
    cursor: pointer;
}

.element-content__delete:hover {
    opacity: .6;
}