.header__hr {
  margin: 0px;
  padding: 0px;
  height: 0px;
  border: none;
  border-top: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header__hr {
    width: 100%;
    position: absolute;
    top: 84px;
    left: 0px;
  }
}
