.body-img__close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    background-image: url('../../../images/close_pc.svg');
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-repeat: no-repeat;
    padding: 0px;
}

.body-img__close:hover {
    opacity: .6;
    cursor: pointer;    
}

@media screen and (max-width: 320px) {
    .body-img__close {
        right: 0px;
        top: -35px;
        font-size: 27px;
        padding: 0px;
        background-image: url(../../../images/close_mobile.svg);
}
}