.popup-container {
    margin: auto;
    width: 430px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 36px 358px 36px;
    grid-template-rows: repeat(4, min-content);
}


@media screen and (max-width: 320px) {
    .popup-container {
        width: 282px;
        grid-template-columns: 22px 238px 22px;
    }
}