.element-content__like {    
    width: 22px;
    height: 19px;
    border: none;
    background-image: url('../../../images/like.svg');
}
/*Честно говря не понмаю, именно не понимаю, зачем давать бек-колор и прозрачность?
Ведь в ТЗ есть своства: https://prnt.sc/jdTzJ4pVP0ti условно фон - черный,
если я задам, фон background: #000000; то сердце будет на черном фоне.
Если я задам или НЕ задам бек-колор черный, то не сойдется с вашей правкой.
Сижу, думаю час, не могу понять.
Не могу понять зачем задавать фон, если я использую svg, ведь svg изначально имеет
фигурный объект БЕЗ фона, т.е. кнопка прозрачная и виднеется фон родителя блока.
Если я допустим пишу код: методом функции js при клике - изменяю бек-имейдж, отображая другую svg
(которую могу импортировать готовую с макета, с чёрной заливкой внутри) и применяя её пр клике.
По сути я могу вероятнее всего написать как хочет ЯД,
но в 70% я не понимаю, как именно ЯД хочет. Например:
по ТЗ макету,сердце имеет 3 вида - черный контур, серый при hover, черная заливка при клике.
В этом ревью я вроде, как сделал по ТЗ, как я понял. Если сделал не так, то не могу понять, как именно просит ЯД)
По поводу лишних записей да, мой косяк, замечаю, много лишнего пишу, пока еще пурга в бошке, js особенно))*/

.element-content__like:hover {
    opacity: .6;
    cursor: pointer;
}

.element-content__like_active {
    background-image: url('../../../images/like__active.svg');
}