.element-content__like { 
    padding: 0px;
    width: 22px;
    height: 19px;
    border: none;
    background-color: #ffffff00;
    background-image: url('../../../images/like.svg');
}

.element-content__like:hover {
    opacity: .6;
    cursor: pointer;
}

