.profile-info {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content 7px min-content;
    align-items: end;
}

@media screen and (max-width: 320px) {
    .profile-info {
        text-align: center;
        grid-template-columns: max-content 0px min-content;
        
    }
  }