.profile__button {
    width: 146px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    grid-column: 5/6;
    background-image: url(../../../images/pluse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    padding: 0px;
  }
  
  .profile__button:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1050px) {
    .profile__button {
      width: 47px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .profile__button {
      width: 279px;
      height: 47px;
      margin-top: 34px;
    }
  }