.profile-info__button {
    width: 24px;
    height: 24px;
    grid-column: 3/4;
    border: 1px solid #FFFFFF;
    margin-bottom: 9px;
    background-color: black;
}

.profile-info__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile-info__button {
        width: 5px;
        height: 5px;
    }
  }